{% extends 'base.html' %}
{% block content %}
<h2 class="page-title">{{ page_obj.title }}</h2>
{% if page_obj.image %}
{% with page_obj.image as img %}
<img class="page-img" src="{{ img.url }}" width="{{ img.width }}" height="{{ img.height }}"
     alt="{{ page_obj.title }}">
{% endwith %}
{% endif %}
<div class="managed-content">
{% block page_content %}
{{ page_obj.view_content|safe }}
{% endblock page_content %}
</div>
{% if articles %}
{% include 'webmus/cms/articles_include.html' %}
{% endif %}
{% endblock content %}
